:root {
  --primary-color: #00689C;
  --secondary-color: #373833;
  --background-color: #D3E3EB; 
  
 

  --danger-color: #bd1616;
  --success-color: #34be82;
  --warning-color: #ffbd35;

  --white: #ffffff;
  --gray: #808080;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#active-page {
  color: red;
  font-weight: 500;
}

body {
  font-family: "Playfair Display", serif;
  background-color: var(--background-color);
}

.call-to-action {
  margin-top: 3rem;
  display: flex;
  align-items: center;
}

.getstarted-link {
  text-decoration: none;
  margin-right: 2.4rem;
  font-weight: 600;
  color: white;
  padding: 0.4rem 0.6rem;
  font-size: 1.4rem;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.getstarted-link:hover {
  opacity: 0.9;
}

.github-link {
  text-decoration: none;
  font-weight: 600;
  padding: 0.4rem 0.6rem;
  font-size: 1.4rem;
  color: var(--primary-color);
  /* border: 1px solid var(--primary-color); */
}
.github-link:hover {
  opacity: 0.9;
}

.landing-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 6rem;
  width: 100%;
}

.logo-img {
  height: 4.6875rem;
  width: 4.6875rem;
  /* 75px */
}
.logo-title {
  font-weight: 600;
  font-size: 2rem;
}

.logo-title a {
  color: var(--primary-color);
  text-decoration: none;
}
.left-navbar {
  display: flex;
  align-items: center;
  margin-left: 5rem;
}

.main-title {
  width: 65%;
}

.main-title-h1 {
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
  color: var(--primary-color);
}

.main-description {
  margin-top: 2rem;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-description-para {
  font-size: 1.6rem;
  font-weight: 400;
  text-align: center;
}

.navbar {
  height: 120px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top:0
}

.navbar-icons {
  color: var(--primary-color);
  margin-right: 2.6rem;
  cursor: pointer;
}

.right-navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: auto 3rem auto auto;
}

/* Media Queries*/

@media screen and (max-width: 1280px) {
  .main-title {
    width: 75%;
  }
  .main-description {
    width: 65%;
  }
}

@media screen and (max-width: 1024px) {
  .main-title {
    width: 90%;
  }
  .main-description {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .main-title {
    width: 90%;
  }
  .main-description {
    width: 80%;
  }

  .left-navbar {
    margin-left: 2rem;
  }
  .right-navbar {
    margin-right: 1rem;
  }
}

@media screen and (max-width: 640px) {
  .main-title {
    width: 90%;
  }
  .main-description {
    width: 90%;
  }

  .main-title-h1 {
    font-size: 2.4rem;
  }

  .main-description-para {
    font-size: 1.4rem;
  }

  .left-navbar {
    margin-left: 1rem;
  }
  .right-navbar {
    margin-right: 1rem;
  }
  .navbar-icons {
    margin-right: 1.4rem;
  }
}

@media screen and (max-width: 480px) {
  body {
    font-size: 12px;
  }

  .logo-title {
    font-size: 1.6rem;
  }

  .logo-img {
    height: 3rem;
    width: 3rem;
  }

  .main-title-h1 {
    font-size: 2rem;
  }

  .main-description-para {
    font-size: 1rem;
  }

  .getstarted-link {
    font-size: 1rem;
  }

  .github-link {
    font-size: 1.2rem;
  }

  .left-navbar {
    margin-left: 0.6rem;
  }
  .right-navbar {
    margin-right: 0.6rem;
  }

  .navbar-icons {
    margin-right: 0.8rem;
  }
}


/* Docs Page styling */
.docs-body-container {
  /* grid - properties */
  display: grid;
  grid-template-columns: 14rem 1fr;
}

.drawer
{
border-right:10px solid red;
padding: 1.2em 1.2em 1.2em 3rem;  
    width: 14rem;
    height:100%;
    overflow-y: auto;
    background-color: greenyellow;
    position: fixed;
    top: 6.1em;
    bottom: 0px;


}

/*
@media screen and (min-width: 858px) and (max-width: 991px) {
  .docs-body-container {
     
      display: grid;
      grid-template-columns: 12rem 1fr;
  }

  .drawer {
      padding: 1.2rem;
      width: 12rem;
  }
}
*/
.nested-drawer-title
{
  margin:0px;
  font-size: 1.1rem;
  background-color: transparent;
    border: none;
    width: 95%;
    position: relative;
    /* flex - properties */
    display: flex;
    align-items: center;
    gap: 0.5em;


}
.drawer-links-container {
  /* flex - properties */
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.drawer-link {
  padding: 0.2em 0.5em;
  margin: 0 0.6em;
  font-size: 1.2rem;
  line-height: 1.6rem;
  border-radius: 0.5em;
  text-decoration: none;
  color: #000;
  cursor: pointer;
   background-color: white;

  /* flex - properties */
  display: flex;
  align-items: center;

}

.drawer-link:hover {
  background-color: yellow;
}

.component-content-container {
  width: 75%;
  margin: 0 auto;
  padding: 2em;
  max-width: 100%;
position: relative;
top:0;
}

.component-text {
  width: 36em;
  line-height: 1.8em;
  margin-top: 0;
  font-size: 1.2rem;
  max-width: 100%;
}

h2.component-subheading {
  width: max-content;
  margin: 0;
  margin: 1em 0;
  font-size: 1.5rem;
  max-width: 100%;
}

h3.component-subheading {
  width: max-content;
  margin: 0;
  font-size: 1rem;
  max-width: 100%;
}
.component-heading {
  font-size: 2.2rem;
  width: max-content;
  margin: 0;
  margin-bottom: 0.5em;
  max-width: 100%;
}