<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Card | Component Sky UI</title>
    
    <link rel="stylesheet" href="./card.css" />
    <link rel="stylesheet" href="../../css/main.css" />
    <link rel="stylesheet" href="../../css/utilities.css" />

    
  
  </head>

  <body>
    
        <hr />
        <h3 >There are Vertical and Horizontal cards with diffrent varients are furnished below: </h3>
     
        <ol > <strong>

            <li>Card with image</li>
            <li>Card with badge</li>
            <li>Card with dismiss</li>
            <li>Vertical card</li>
            <li>Horizontal card</li>
            <li>Card with text overlay</li>
            <li>Card with shadow</li>
        </strong>
        </ol>

        <div class="card-box-container">
            <div class="card-vertical">
              
                
                <img src="https://rukminim1.flixcart.com/image/832/832/kyhlfgw0/headphone/g/j/d/buds-z2-truly-wireless-earbuds-oneplus-original-imagapfcp38gzydz.jpeg?q=70" alt="product">
               <div class="card-desc-wrapper ">
                <p class="card-main-desc card-Desc"><h4>OnePlus Buds Z2 with Active Noise cancellation Bluetooth Headset  (Obsidian Black, In the Ear)</h4></p>

                <p class="card-main-SecondaryDesc">Black True wireless</p>

               </div>
               
                <span class="card-rating">
                <span class="material-icons icon-card-rating">star</span>4.6
                </span>
        
                <span class="card-price-wapper">
                <p class="card-price">₹299 <strike> (₹899) </strike></p>
                
                <p class="card-discount">66.7% off</p>
                </span>
                <button class="btn-primary-confirm" > <span class="material-icons icon-s3">bolt</span> Buy now</button>
             </div>
 

      <!--Card with Badge -->
      <div class="card-vertical">    
        <span class="card-vertical-badge">
            <span class="material-icons-outlined icon-s3 card-badge-icon">favorite_border</span>
            </span>

        <img src="https://rukminim1.flixcart.com/image/832/832/kyhlfgw0/headphone/g/j/d/buds-z2-truly-wireless-earbuds-oneplus-original-imagapfcp38gzydz.jpeg?q=70" alt="product">
       <div class="card-desc-wrapper ">
        <p class="card-main-desc card-Desc"><h4>OnePlus Buds Z2 with Active Noise cancellation Bluetooth Headset  (Obsidian Black, In the Ear)</h4></p>

        <p class="card-main-SecondaryDesc">Black True wireless</p>

       </div>
       
        <span class="card-rating">
        <span class="material-icons icon-card-rating">star</span>4.6
        </span>

        <span class="card-price-wapper">
        <p class="card-price">₹299 <strike> (₹899) </strike></p>
        
        <p class="card-discount">66.7% off</p>
        </span>
        <button class="btn-primary-confirm" > <span class="material-icons icon-s3">bolt</span> Buy now</button>
     </div>


          <!-- card with overlay text-->
          <div class="card-vertical">
            <span class="card-vertical-badge">
            <span class="material-icons-outlined icon-s3 card-badge-icon">favorite_border</span>
            </span>
            <div class="card-overlay">
                <p class="card-overlay-text">Out of stock</p>
            </div>

            <img src="https://rukminim1.flixcart.com/image/832/832/kcxpbww0/headphone/1/q/3/e501a-oneplus-original-imaftykkyfnfrhx6.jpeg?q=70" alt="product">
           <div class="card-desc-wrapper ">
            <p class="card-main-desc card-Desc"><h4>OnePlus Buds Bluetooth Headset </h4></p>

            <p class="card-main-SecondaryDesc"> (Nord Blue, True Wireless)</p>

           </div>
           
            <span class="card-rating">
            <span class="material-icons icon-card-rating">star</span>4.6
            </span>
    
            <span class="card-price-wapper">
            <p class="card-price">₹4490 <strike> (₹4990) </strike></p>
            
            <p class="card-discount">10% off</p>
            </span>
            <button class="btn-primary-confirm" > <span class="material-icons icon-s3">bolt</span> Buy now</button>
         </div>








          
 
   
     
    </div>
  </body>
</html>