<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Card | Component Sky UI</title>
    
    <link rel="stylesheet" href="./card.css" />
    <link rel="stylesheet" href="../../css/main.css" />
    <link rel="stylesheet" href="../../css/utilities.css" />

    <script
    src="https://kit.fontawesome.com/13c2d874aa.js"
    crossorigin="anonymous"
  ></script>
  
  </head>

  <body>
 
        <hr/>
        <h3 >There are Vertical and Horizontal cards with diffrent varients are furnished below: </h3>
     
        <ol > <strong>

            <li>Card with image</li>
            <li>Card with badge</li>
            <li>Vertical card</li>
            <li>Horizontal card</li>
            <li>Card with text overlay</li>
            <li>Card with shadow</li>
        </strong>
        </ol>

        <div class="card-box-container">

           <h3>This is normal card !! </h3>
            <div class="card-vertical">              
                <img src="https://rukminim1.flixcart.com/image/832/832/kyhlfgw0/headphone/g/j/d/buds-z2-truly-wireless-earbuds-oneplus-original-imagapfcp38gzydz.jpeg?q=70" alt="product">
               <div class="card-desc-wrapper ">
                <p class="card-main-desc card-Desc"><h4>OnePlus Buds Z2 with Active Noise cancellation Bluetooth Headset  (Obsidian Black, In the Ear)</h4></p>

                <p class="card-main-SecondaryDesc">Black True wireless</p>

               </div>
               
                <span class="card-rating">
                <span class="material-icons icon-card-rating">star</span>4.6
                </span>
        
                <span class="card-price-wapper">
                <p c-b lass="card-price">₹4999 <strike> (₹5999) </strike></p>
                
                <p class="card-discount">16% off</p>
                </span>
                <button class="btn-primary-confirm" > <span class="material-icons icon-s3">bolt</span> Buy now</button>
             </div>
 

      <!--Card with Badge -->
      <h3>Card with Badge </h3>
      <div class="card-vertical">    
        <span class="card-vertical-badge">
            <span class=" card-badge-icon">   <i class="fas fa-heart"></i></span>
            </span>

        <img src="https://rukminim1.flixcart.com/image/832/832/kyhlfgw0/headphone/g/j/d/buds-z2-truly-wireless-earbuds-oneplus-original-imagapfcp38gzydz.jpeg?q=70" alt="product">
       <div class="card-desc-wrapper ">
        <p class="card-main-desc card-desc"><h4>OnePlus Buds Z2 with Active Noise cancellation Bluetooth Headset  (Obsidian Black, In the Ear)</h4></p>

        <p class="card-main-Secondary-desc">Black True wireless</p>

       </div>
       
        <span class="card-rating">
        <span class="material-icons icon-card-rating">star</span>4.6
        </span>

        <span class="card-price-wapper">
        <p class="card-price">₹4999 <strike> (₹5999) </strike></p>
        
        <p class="card-discount">16% off</p>
        </span>
        <button class="btn-primary-confirm" > <span class="material-icons icon-s3">bolt</span> Buy now</button>
     </div>

     <h3>Card with Dismiss </h3>
          <!-- card with overlay text-->
          <div class="card-vertical">
            <span class="card-vertical-badge">
            <span class="card-badge-icon"><i class="fas fa-heart"></i></span>
            </span>
            <div class="card-overlay">
                <p class="card-overlay-text">Out of stock</p>
            </div>

            <img src="https://rukminim1.flixcart.com/image/832/832/kcxpbww0/headphone/1/q/3/e501a-oneplus-original-imaftykkyfnfrhx6.jpeg?q=70" alt="product">
           <div class="card-desc-wrapper ">
            <p class="card-main-desc card-Desc"><h4>OnePlus Buds Bluetooth Headset </h4></p>

            <p class="card-main-SecondaryDesc"> (Nord Blue, True Wireless)</p>

           </div>
           
            <span class="card-rating">
            <span class="material-icons icon-card-rating">star</span>4.6
            </span>
    
            <span class="card-price-wapper">
            <p class="card-price">₹4490 <strike> (₹4990) </strike></p>
            
            <p class="card-discount">10% off</p>
            </span>
            <button class="btn-primary-confirm" > <span class="material-icons icon-s3">bolt</span> Buy now</button>
         </div>


<!-- Horizontal Card -->
<h3>Horizontal Card</h3>
<div class="card-horizontal">
   
    <span class="card-horizontal-badge"><i class="fas fa-heart"></i> </span>
    <div class="card-horizontal-product-img">
        <img class="card-horizontal-img" src="https://rukminim1.flixcart.com/image/312/312/k9bo9e80/computer/5/m/6/apple-na-original-imafr5acuz95sa5g.jpeg?q=70" alt="image">
    </div>
    <div class="card-horizontal-description">
        <h3>Macbook Air</h3> 
        <h4>Rs. **999</h4>
        <h4><strike>Rs. 1,29,000</strike></h4>
        <p>Limited time deal</p>
        <span class="card-rating">
            <span class="material-icons icon-card-rating">star</span>4.9
        </span>
    </div>
    <div class="card-horizontal-cta">
        <button class="btn-primary-confirm"><span class="material-icons icon-s3">bolt</span> Buy now</button>
        <button class="btn-secondary-grey"><span class="material-icons icon-s3">shopping_cart</span>Add to cart</button>
    </div>
  </div>

  <!-- Horizontal Card with badge -->
<h3>Horizontal Card with Badge</h3>
<div class="card-horizontal">
    
    <span class="card-horizontal-badge"><i class="fas fa-heart"></i></span>
    <div class="card-horizontal-product-img">
        <img class="card-horizontal-img" src="https://rukminim1.flixcart.com/image/312/312/k9bo9e80/computer/5/m/6/apple-na-original-imafr5acuz95sa5g.jpeg?q=70" alt="image">
    </div>
    <div class="card-horizontal-description">
        <h3>Macbook Air</h3> 
        <h4>Rs. **999</h4>
        <h4><strike>Rs. 99,000</strike></h4>
        <p>Limited time deal</p>
        <span class="card-rating">
            <span class="material-icons icon-card-rating">star</span>4.9
        </span>
    </div>

    <div class="card-horizontal-cta">
        <button class="btn-primary-confirm"><span class="material-icons icon-s3">bolt</span> Buy now</button>
        <button class="btn-secondary-grey"><span class="material-icons icon-s3">shopping_cart</span>Add to cart</button>
    </div>
  </div>

  <!-- Horizontal Card with dismiss -->
<h3>Horizontal Card with dismiss</h3>
<div class="card-horizontal">
    <div class="card-overlay" style="width: 46rem;">
        <p class="card-overlay-text">Out of stock</p>
    </div>
    <span class="card-horizontal-badge"><i class="fas fa-heart"></i></span>
    <div class="card-horizontal-product-img">
        <img class="card-horizontal-img" src="https://rukminim1.flixcart.com/image/312/312/k9bo9e80/computer/5/m/6/apple-na-original-imafr5acuz95sa5g.jpeg?q=70" alt="image">
    </div>
    <div class="card-horizontal-description">
        <h3>Macbook Pro</h3> 
        <h4>Rs. **999</h4>
        <h4><strike>Rs. 1,50,000</strike></h4>
        <p>Limited time deal</p>
        <span class="card-rating">
            <span class="material-icons icon-card-rating">star</span>4.9
        </span>
    </div>
    <div class="card-horizontal-cta">
        <button class="btn-primary-confirm"><span class="material-icons icon-s3">bolt</span> Buy now</button>
        <button class="btn-secondary-grey"><span class="material-icons icon-s3">shopping_cart</span>Add to cart</button>
    </div>
  </div>
 

          
 
   
     
    </div>
  </body>
</html>