<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buttons</title>
    <meta name="description" content="Alert Component">
    <script src="https://kit.fontawesome.com/13c2d874aa.js" crossorigin="anonymous" ></script>
	<link rel="stylesheet" href="/Components/utility.css">
    <link rel="stylesheet" href="button.css">
    

</head>
<body>
    <h3>Standard Buttons</h3>
    <div class="button">
		<button class=" btn btn-primary">Primary Button</button>
		<button class=" btn btn-secondary">Secondary Button</button>
		<button class=" btn btn-danger">Danger Button</button>
	</div>

	<div class="button-outlined">
		<button class=" btn btn-primary-outlined">Primary Button</button>
		<button class=" btn btn-secondary-outlined">Secondary Button</button>
		<button class=" btn btn-danger-outlined">Danger Button</button>
	</div>
    <h3>Icon Buttons</h3>
	<div class="button-icon flex-row">
		<button class=" btn btn-primary flex-row flex-align">
            <i class="fa-solid fa-cart-arrow-down"></i>
			<span>Add to Cart</span>
		</button>
		<button class=" btn btn-danger flex-row flex-align">
            <i class="fa-brands fa-skyatlas"></i>
			<span>Delete</span>
		</button>
	</div>

	<div class="button-float">
		<button class=" float-button primary-button">
			<img  alt="Icon">
		</button>
	</div>
    
</body>
</html>