<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avatars & Badge</title>
    <link rel="stylesheet" href="/Components/avatar/avatar.css">
</head>
<body>
    <!--Circular Shaped Avatars -->
    <h3>Circular Shaped Avatar</h3>
    <div class="avatar-circular-container">
		<img class="avatar-Xl circular-avatar" src="https://picsum.photos/200" alt="avatar-image">
		<img class="avatar-L circular-avatar" src="https://picsum.photos/200" alt="avatar-image">
		<img class="avatar-M circular-avatar" src="https://picsum.photos/200" alt="avatar-image">
		<img class="avatar-S circular-avatar" src="https://picsum.photos/200" alt="avatar-image">
		<img class="avatar-Xs circular-avatar" src="https://picsum.photos/200" alt="avatar-image">
	</div>

    <h3>Square  Avatar</h3>
      <!--Rounded cornred Avatars -->
	<div class="avatar-rounded-container">
		<img class="avatar-Xl square-avatar" src="https://picsum.photos/200" alt="avatar-image">
		<img class="avatar-L square-avatar" src="https://picsum.photos/200" alt="avatar-image">
		<img class="avatar-M square-avatar" src="https://picsum.photos/200" alt="avatar-image">			
		<img class="avatar-S square-avatar" src="https://picsum.photos/200" alt="avatar-image">
		<img class="avatar-Xs square-avatar" src="https://picsum.photos/200" alt="avatar-image">
	</div>
  
    <h3>Avatar with status</h3>
    <!--Avatars with Status-->
	<div class="avatar">
		<div class="avatar-Xl-status">
			<img class="circular-avatar avatar-Xl" src="https://picsum.photos/200" alt="avatar-image">
			<span class="avatar-status status-online status-position-Xl"></span>
		</div>

		<div class="avatar-L-status">
			<img class="circular-avatar avatar-L" src="https://picsum.photos/200" alt="avatar-image">
			<span class="avatar-status status-busy status-position-L"></span>
		</div>

		<div class="avatar-M-status">
			<img class="circular-avatar avatar-M" src="https://picsum.photos/200" alt="avatar-image">
			<span class="avatar-status status-offline status-position-M"></span>
		</div>

		<div class="avatar-S-status">
			<img class="circular-avatar avatar-S" src="https://picsum.photos/200" alt="avatar-image">
			<span class="avatar-status status-busy status-position-S"></span>
		</div>

		<div class="avatar-S-status">
			<img class="circular-avatar avatar-Xs" src="https://picsum.photos/200" alt="avatar-image">
			<span class="avatar-status status-online status-position-Xs"></span>
		</div>
	</div>

    
</body>
</html>