<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Badge</title>
  <link rel="stylesheet" href="/Components/utility.css">
  <link rel="stylesheet" href="/Components/button/button.css">
  <link rel="stylesheet" href="badge.css">
</head>

<body>
  <div class="badge-container">
    <p class="text">Text over badge.</p>
    <p class="badge badge-text badge-position-text">NEW</p>
  </div>

  <div class="badge-container">
    <button class="button margin">Action</button>
    <p class="badge badge-position-button">9</p>
  </div>

  <div class="badge-container">
    <img class="icon margin" src="cart.svg" alt="Icon" />
    <p class="badge badge-position-icon">8</p>
  </div>
</body>

</html>