<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Alert Component">
	<title>Alerts</title>
	<link rel="stylesheet" href="../../css/utilities.css">
	<link rel="stylesheet" href="alert.css">
</head>

<body>
	<div class="alert-container">

		<div class="alert alert-primary padding margin-bottom">
			<strong>Primary</strong> - This is a primary alert with background color!
		</div>

		<div class="alert alert-secondary padding margin-bottom">
			<strong>Secondary</strong> - This is a secondary alert with background color!
		</div>

		<div class="alert alert-success padding margin-bottom">
			<strong>Success</strong> - This is a success alert with background color!
		</div>
		<div class="alert alert-error padding margin-bottom">
			<strong>Error</strong> - This is an error alert with background color!
		</div>
		
		<div class="alert alert-warning padding margin-bottom">
			<strong>Warning</strong> - This is a warning alert with background color!
		</div>

		<div class="alert alert-info padding margin-bottom">
			<strong>Info</strong> - This is an simple information alert with background color!
		</div>
	</div>

	<div class="alert-container">
		<div class="alert alert-primary-outlined padding margin-bottom">
			<strong>Primary</strong> - This is a primary alert!
		</div>
        

		<div class="alert alert-secondary-outlined padding margin-bottom">
			<strong>Secondary</strong> - This is a seconday alert!
		</div>

		<div class="alert alert-success-outlined padding margin-bottom">
			<strong>Success</strong> - This is a success alert!
		</div>
		<div class="alert alert-error-outlined padding margin-bottom">
			<strong>Error</strong> - This is an error alert!
		</div>
		
		<div class="alert alert-warning-outlined padding margin-bottom">
			<strong>Warning</strong> - This is a warning alert!
		</div>

		<div class="alert alert-info-outlined padding margin-bottom">
			<strong>Info</strong> - This is a simple information alert!
		</div>
	</div>

</body>

</html>